h1 {
    color: #00AEE6;
}

html {
	background-color: white;
}

body h1, body p {
	text-align: center;
	font-family: 'Arial';
	line-height: 1.3em;
}

.center {
	font-family: 'Arial';
	text-align: left;
    margin-left: 10em;
    margin-right: 10em;
}

ul {
	line-height: 1.3em;
}